body{
	font-family:sans-serif;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	background:#C9C9C9;
}

.container{
	display:flex;
	gap:40px;
	align-items:center;
	
}

.card{
	width:250px;
	background:#3278C7;
	border-radius:15px;
	overflow:hidden;
	box-shadow:0 10px 20px rgb(0, 0, 0, 0.5);
	text-align:center;
	padding-bottom:20px;

}
.banner{
	height:80px;
	background:#21548F;
	
}
.avatar{
	width: 80px;
	height:80px;
	background:#C9C9C9;
	border: 2px solid white;
	border-radius:50%;
	margin:-40px auto 10px;
}

.controls{
	display: flex;
	flex-direction:column;
	gap:20px;

}

input{
	padding:10px;
	border-radius:5px;
	border: 1px solid #FFFFFF;
}
/*=MODO OSCURO=*/

body.dark-mode .card {
	background:#1e1e1e;
}
body.dark-mode .avatar{
	background:#444;
	border: 2px solid white;
}
body.dark-mode .banner{
	background:#333;
}