:root {
    --bg: #f4f4f4;
    --text: #222;
    --card: #ffffff;
    --accent: #F5AEAE;
}

body.dark-mode {
    --bg: #121212;
    --text: #ffffff;
    --card: #F5AEAE;
    --accent: #F5AEAE;
}

body {
    margin: 0;
    font-family: calibri, sans-serif;
    background: var(--bg);
    color: var(--text);
}

header {
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

/* FORMULARIO */
.form-section {
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

/* CV */
.cv-template {
    background: white;
    color: black;
    width: 210mm;
    min-height: 297mm;
    padding: 15mm;
    box-sizing: border-box;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--accent);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.section-title {
    margin-top: 15px;
    border-bottom: 2px solid #F5AEAE;
}

/* Ocultar formulario en PDF */
@media print {
    header, .form-section {
        display: none;
    }